*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#101014;
font-family:Arial,Helvetica,sans-serif;
color:white;
}

header{

height:70px;

background:#18181b;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

}

.logo{

font-size:28px;

font-weight:bold;

color:#53FC18;

}

.live{

background:red;

padding:10px 20px;

border-radius:20px;

font-weight:bold;

}

.banner{

height:180px;

background:linear-gradient(90deg,#161616,#252525);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.banner h1{

font-size:48px;

color:#53FC18;

}

.banner p{

margin-top:10px;

font-size:20px;

}

main{

max-width:1400px;

margin:30px auto;

display:flex;

gap:20px;

padding:20px;

}

.stream{

flex:3;

}

.player{

position:relative;

}

video{

width:100%;

border-radius:15px;

background:black;

}

.cam{

position:absolute;

right:20px;

bottom:20px;

background:#18181b;

padding:15px;

border-radius:10px;

}

.info{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

margin-top:20px;

}

.card{

background:#18181b;

padding:20px;

border-radius:12px;

text-align:center;

}

.card h4{

color:#53FC18;

margin-bottom:10px;

}

.descripcion{

margin-top:20px;

background:#18181b;

padding:20px;

border-radius:12px;

}

aside{

flex:1;

background:#18181b;

border-radius:15px;

padding:20px;

}

.chat{

height:650px;

margin-top:20px;

overflow:auto;

}

footer{

height:60px;

display:flex;

justify-content:center;

align-items:center;

background:#18181b;

margin-top:20px;

}

@media(max-width:900px){

main{

flex-direction:column;

}

.info{

grid-template-columns:repeat(2,1fr);

}

}
